

<form autocomplete="false" novalidate = "true" [formGroup] = "frmProduct">

  <div class="form-group row">

    <div class="col-sm-6 col-xl-6">
      <label class=" control-label">Tên Sản Phẩm<span style="color : red">*</span></label>

      <input type="text" class="form-control" [(ngModel)]="Name" placeholder="Tên sản phẩm" formControlName = "nameProduct" />
      <app-custom-error-product *ngIf = "isClickedAddOrEdit == true" [control] = "frmProduct.controls.nameProduct" namecontrol = "Tên sản phẩm"></app-custom-error-product>
    </div>

    <div class="col-sm-6 col-xl-6">
      <label class="control-label">Tên đề SEO <span  style="color : red">*</span></label>
      <input type="text"  [(ngModel)]="Alias" class="form-control" id="TieudeSeo" placeholder="Tiêu đề seo" formControlName = "AliasProduct" >
      <app-custom-error-product  *ngIf = "isClickedAddOrEdit == true" [control] = "frmProduct.controls.AliasProduct" namecontrol = "Tiêu đề Seo"></app-custom-error-product>
    </div>
  </div>

  <!-- <div class="form-group row">
    <label class="col-sm-3 col-md-3 col-xl-2 control-label">Tên đề SEO <span  style="color : red">*</span></label>
    <div class="col-sm-9 col-md-9 col-xl-10">
      <input type="text"  [(ngModel)]="Alias" class="form-control" id="TieudeSeo" placeholder="Tiêu đề seo" [ngModelOptions]="{standalone: true}" >

    </div>
  </div> -->



  <div class="form-group row">

    <div class="col-sm-6 col-xl-6">
      <label class="control-label">Mô tả ngắn</label>
      <input type="text" class="form-control" [(ngModel)]="Description" [ngModelOptions]="{standalone: true}" placeholder="Mô tả ngắn"  >
    </div>

    <div class="col-sm-6 col-xl-6">
      <label for="dmCha" class="control-label">Danh mục <span style="color : red">*</span></label>
      <select class="form-control" id="dmCha"  [(ngModel)]="CategoryID" formControlName = "CategoryIDProduct" >
        <option [selected] = "isSelected == item.ID" *ngFor="let item of nameAndIdProductCategory" value="{{item.ID}}">
            {{item.Name}}
        </option>
      </select>
      <app-custom-error-product *ngIf = "isClickedAddOrEdit == true" [control] = "frmProduct.controls.CategoryIDProduct" namecontrol = "Danh mục"></app-custom-error-product>
    </div>
  </div>

  <!-- <div class="form-group row">
    <label class="col-sm-3 col-md-3 col-xl-2 control-label">Mô tả ngắn</label>
    <div class="col-sm-9 col-md-9 col-xl-10">
      <input type="text" class="form-control" [(ngModel)]="Description" [ngModelOptions]="{standalone: true}" placeholder="Mô tả ngắn"  >
    </div>
  </div>

  <div class="form-group row">
    <label for="dmCha" class="col-sm-3 col-md-3 col-xl-2 control-label">Danh mục</label>
    <div class="col-sm-9 col-md-9 col-xl-10">
      <select class="form-control" id="dmCha"  [(ngModel)]="CategoryID" [ngModelOptions]="{standalone: true}" >
        <option>

        </option>
      </select>
    </div>
  </div> -->

  <div class="form-group row">
    <div class="col-sm-6 col-xl-6">
      <label for="gia" class="control-label" >Giá Nhập<span  style="color : red">*</span></label>
      <input type="number" class="form-control" id="giaNhap" [(ngModel)]="OriginalPrice" formControlName = "OriginalPriceProduct" placeholder="Giá nhập" >
      <app-custom-error-product *ngIf = "isClickedAddOrEdit == true" [control] = "frmProduct.controls.OriginalPriceProduct" namecontrol = "Giá nhập"></app-custom-error-product>
    </div>

    <div class="col-sm-6 col-xl-6">
      <label for="gia" class="control-label" >Giá Bán<span  style="color : red">*</span></label>
      <input type="number" class="form-control" id="gia" [(ngModel)]="Price" formControlName ="PriceProduct" placeholder="Giá" >
      <app-custom-error-product *ngIf = "isClickedAddOrEdit == true" [control] = "frmProduct.controls.PriceProduct" namecontrol = "Giá bán"></app-custom-error-product>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-6 col-xl-6">
      <label class="control-label">Bảo hành ( tháng )</label>
      <input type="number" class="form-control" [(ngModel)]="Warranty" [ngModelOptions]="{standalone: true}" placeholder="Bảo hành" >
    </div>

    <div class="col-sm-6 col-xl-6">
      <label for="gia" class="control-label" >Số Lượng<span  style="color : red">*</span></label>
      <input type="number" class="form-control" id="giaNhap" [(ngModel)]="Quantity" formControlName ="QuantityProduct" placeholder="số lượng" >
      <app-custom-error-product *ngIf = "isClickedAddOrEdit == true" [control] = "frmProduct.controls.QuantityProduct" namecontrol = "Số lượng"></app-custom-error-product>
    </div>
  </div>

  <!-- <div class="form-group row">
    <label class="col-sm-3 col-md-3 col-xl-2 control-label">Bảo hành</label>
    <div class="col-sm-9 col-md-9 col-xl-10">
      <input type="number" class="form-control" [(ngModel)]="Warranty" [ngModelOptions]="{standalone: true}" placeholder="Bảo hành"  >
      <span>( tháng )</span>
    </div>
  </div>

  <div class="form-group row">
    <label for="gia" class="col-sm-3 col-md-3 col-xl-2 control-label" >Giá <span  style="color : red">*</span></label>
    <div class="col-sm-9 col-md-9 col-xl-10">
      <input type="number" class="form-control" id="gia"  [(ngModel)]="price" [ngModelOptions]="{standalone: true}">
    </div>
  </div> -->

  <div class="form-group row">

    <div class="col-sm-6 col-xl-6">
      <label for="MauSac" class="control-label">Màu Sắc <span style="color : red">*</span></label>
      <input type="text" class="form-control" id="MauSac" [(ngModel)]="Color" formControlName= "ColorProduct" placeholder="MauSac">
      <app-custom-error-product namecontrol = "Màu sắc"  *ngIf = "isClickedAddOrEdit == true" [control] = "frmProduct.controls.ColorProduct" namecontrol = "Màu sắc"></app-custom-error-product>
    </div>
    <div class="col-sm-6 col-xl-6">
      <label for="HangSx" class="control-label">Hãng Sản xuất <span style="color : red">*</span></label>
      <input type="text" class="form-control" id="HangSx" [(ngModel)]="Model" formControlName = "ModelProduct" placeholder="Hãng sản xuất">
      <app-custom-error-product namecontrol = "Hãng sản xuất" *ngIf = "isClickedAddOrEdit == true" [control] = "frmProduct.controls.ModelProduct" namecontrol = "Hãng sản xuất"></app-custom-error-product>
    </div>
    <div class="col-sm-6 col-xl-6">
      <label for="NoiSanXuat" class="control-label">Nơi sản xuất <span style="color : red">*</span></label>
      <input type="text" class="form-control" id="NoiSanXuat" [(ngModel)]="whereProduct" formControlName = "whereProductProduct" placeholder="Nơi sản xuất">
      <app-custom-error-product namecontrol = "Nơi sản xuất" *ngIf = "isClickedAddOrEdit == true" [control] = "frmProduct.controls.whereProductProduct" namecontrol = "Nơi sản xu"></app-custom-error-product>
    </div>

  </div>

  <div class="form-group row">

    <div class="col-sm-6 col-xl-6">
      <label for="tags" class="control-label">Tags</label>
      <input type="text" class="form-control" id="tags" [(ngModel)]="Tags" [ngModelOptions]="{standalone: true}">
    </div>

    <div class="col-sm-6 col-xl-6">
      <label for="thuThu" class="control-label">Meta Keyword</label>
      <input type="number" class="form-control" id="thuThu" [(ngModel)]="MetaKeyword" [ngModelOptions]="{standalone: true}">
    </div>
  </div>

  <div class="form-group row">

    <div class="col-sm-6 col-xl-6">
      <label for="giaKM" class="control-label" >Giá KM</label>
      <input type="number" class="form-control" id="giaKM"  [(ngModel)]="PromotionPrice" [ngModelOptions]="{standalone: true}">
    </div>

    <div class="col-sm-6 col-xl-6">
      <label for="thuThu" class="control-label">Hình Ảnh <span style="color : red">*</span></label>
      <div class="row">

        <div class="col-sm-6 col-xl-6 img-preview">
          <img src="{{Image}}" *ngIf="Image"  width="100%" height="100%" />
        </div>

        <div class="col-sm-5 col-xl-5">
          <div class="custom-file">
            <input type="file" class="custom-file-input" (change)="handleFileInput($event)" id="customFile" hidden >
            <label class="custom-file-label-change" for="customFile"></label>
          </div>
        </div>

      </div>
    </div>


  </div>

  <!-- <div class="form-group row">
    <label for="giaKM" class="col-sm-3 col-md-3 col-xl-2 control-label" >Giá KM</label>
    <div class="col-sm-9 col-md-9 col-xl-10">
      <input type="number" class="form-control" id="giaKM"  [(ngModel)]="PromotionPrice" [ngModelOptions]="{standalone: true}">
    </div>
  </div>

  <div class="form-group row">
    <label for="thuThu" class="col-sm-3 col-md-3 col-xl-2 control-label">Hình Ảnh</label>
    <div class="col-sm-9 col-md-9 col-xl-10">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFile">
        <label class="custom-file-label" for="customFile">hungmien.jpg</label>
      </div>
    </div>
  </div> -->

  <div class="form-group row">
    <div class="col-sm-12">
      <label for="metaDescription" class="control-label" >Mô tả sản phẩm <span style="color : red">*</span></label>
      <!-- <div class="col-sm-9 col-md-9 col-xl-10">
        <textarea  type="text" class="form-control" id="metaDescription">

        </textarea>

      </div> -->

      <div class="motaSanPham">
        <ckeditor #editor [(ngModel)]="Content" (change)="onChangeCKEditor($event)"  id="motaSP" name="motaSP" [ngModelOptions]="{standalone: true}" >
        </ckeditor>
      </div>
    </div>

  </div>

  <!-- <div class="form-group row">

    <label for="tags" class="col-sm-3 col-md-3 col-xl-2 control-label">Tags</label>
    <div class="col-sm-9 col-md-9 col-xl-10">
      <input type="text" class="form-control" id="tags" [(ngModel)]="Tags" [ngModelOptions]="{standalone: true}">
    </div>
  </div>

  <div class="form-group row">

    <label for="thuThu" class="col-sm-3 col-md-3 col-xl-2 control-label">Meta Keyword</label>
    <div class="col-sm-9 col-md-9 col-xl-10">
      <input type="number" class="form-control" id="thuThu" [(ngModel)]="MetaKeyword" [ngModelOptions]="{standalone: true}">
    </div>
  </div> -->

  <div class="form-group row">
    <div class="col-sm-12">

      <label for="metaDescription" class="control-label">Meta Description</label>
      <div>
        <textarea  type="text" class="form-control" id="metaDescription" [(ngModel)]="MetaDescription" [ngModelOptions]="{standalone: true}">

        </textarea>
        <!-- <app-custom-erproduct-category *ngIf = "isClickedAddOrEdit == true"  [frmTextboxErrorCategoryName] = "frmProductCategy.controls.MetaDescriptions" >

        </app-custom-erproduct-category> -->
      </div>
    </div>
  </div>

  <label for="thuThu" class="control-label">Ảnh chi tiết<span style="color : red">*</span></label>
  <div class="form-group row">

    <div class="col-sm-9 wrap_multi_image">
      <div *ngFor="let item of ImageMulti" class="div_image">
        <img src="{{item}}" height="100px" width="100px" />
      </div>
    </div>
    <div class="col-sm-2">
       <div class="custom-multi-file">
          <input type="file" class="custom-Multifile-input" (change)="getFileDetails($event)" id="customMultiFile" hidden >
          <label class="custom-multi-file-label-change" for="customMultiFile"></label>
        </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="metaDescription" class="col-sm-3 col-md-3 col-xl-2 control-label">Trạng Thái</label>
    <div class="form-check col-sm-9 col-md-9 col-xl-10">
      <input [checked] = "ischecked == 1"  class="form-check-input" name="status" type="checkbox" id="gridCheck"  (change)="onCheckboxChange($event)">
      <label class="form-check-label mr-5" for="gridCheck">
        Kích hoạt
      </label>
    </div>
  </div>

 <div class="form-group row">
   <div class="col-sm-6 col-md-6 col-xl-6">

    <button (click) = "AddProductClick()" class="btn btn-primary" *ngIf="ID==0" >
      <i class="fas fa-plus"></i>
      Add
    </button>

    <button (click) = "updateProduct()" class="btn btn-primary" *ngIf="ID!=0">
      <i class="far fa-edit"></i>
      Update
    </button>

   </div>

   <div class="col-sm-6 col-md-6 col-xl-6">
    <button (click) = "cancelPopup()" class="btn btn-danger float-right">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
      </svg>
      Hủy
    </button>
   </div>
  </div>

</form>










