
#selectedColumn_length{
  margin-right: 50px;
}

#table{
  text-align: center;
}

#addProductCategory{
  margin-left: 20px;
}

.title{
  margin-top: 20px;
  margin-left: 34px;
}

.img_list{
  width: 33px;
}

.title{
  margin-left: 6px;
  margin-top: 10px;
}

#addProduct{
  margin-left: 6px;
}
