<div class="content-wrapper" style="min-height: 1203.6px;">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 style="font-size: 26px;line-height: 55px;">Thống kê doanh thu của Shop</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">ChartJS</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <!-- AREA CHART -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Biểu đồ thống kê lợi nhuận : {{fromDateChange}} - {{toDateChange}}</h3>
              <div>
                <label style="margin-right: 10px;
                font-weight: 700;" >Từ ngày </label>
                <input type="date" value="01/01/2021" [(ngModel)]="fromDate" style="border-radius: 2px;
                border-radius: 3px;" />
                <label style="font-weight: 700;margin-left: 7px;" >Đến ngày </label>
                <input type="date" value="01/01/2022" [(ngModel)]="toDate" style="border-radius: 3px;
                margin-left: 7px;" />
                <button type="button" (click) = "thongKe()" style=" border-radius: 3px;
                margin-left: 5px;background-color: #ffc107;color: white;border: none;cursor: pointer;">Thống kê</button>
              </div>
              <div class="card-tools">
                <button type="button" class="btn btn-tool mr-2" data-card-widget="collapse"><i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
              </div>
            </div>
            <div class="card-body">
              <div class="chart"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
              <canvas id="canvas">
                {{chart}}
              </canvas>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col (LEFT) -->
        <div class="col-md-6">
          <!-- LINE CHART -->
          <div class="card card-info">
            <div class="card-header">
              <h3 class="card-title">Dữ liệu thống kê</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool mr-2" data-card-widget="collapse"><i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
              </div>
            </div>
            <div class="card-body">
              <table class="table align-center">
                <thead>
                  <tr>
                    <th>Ngày</th>
                    <th>Doanh số</th>
                    <th>Lợi nhuận</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of listStatisticRevenue">
                    <td scope="row">{{item.Date | date: 'dd/MM/yyyy'}}</td>
                    <td>{{item.Revenues}}</td>
                    <td>{{item.Benefit}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>






